.order-status.status-status-paid {
    background-color: #109b00;
    color: #ffffff;
    font-weight: 600;
}
.order-status.status-status-paidnotve {
    background-color: #0a4e03;
    color: #ffffff;
    font-weight: 600;
}
.order-status.status-status-preauth {
    background-color: #ffe000;
    color: #000000;
    font-weight: 600;
}
.order-status.status-status-error {
    background-color: #bb0f0f;
    color: #ffffff;
    font-weight: 600;
}